#welcome {
  display: flex;
  flex-direction: row;
  border-color: #dafdfc;
  align-items: center;
  top: 0;
  position: relative;
  background: linear-gradient(to bottom, #dafdfc, white);
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 5px #81d8d0;
  height: 55vh;
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#welcome_bottom {
  display: flex;
  border-color: #dafdfc;
  margin-bottom: 30px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 5px #81d8d0;
}

#welcome_bottom img {
  width: 90vw;
}

#welcome_left {
  margin-left: 50px;
  margin-right: 50px;
  width: 50%;
  font-size: 20px;
}

#welcome_left h2 {
  margin-top: 0px;
  text-align: center;
}

#welcome_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#welcome_right img {
  height: 500px;
}
